ul{list-style: none ;
overflow: hidden;
background-color:burlywood;
}

li{float: left;}
li a{
    padding: 14px 10px;
    text-decoration: none;
    display: block;
}
li a:hover{background-color: deeppink;
color: white;
font-size: 30px;}

    h1{color:slateblue ;}
    p{border: 5px solid royalblue;
    border-radius: 5px;
    margin: 5px;
    width: 300px;
  float: left;
  overflow: hidden;
  padding: 2px;
 }